<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Document</title>
<style>
h2{
text-align: left;
color: #32a85a;
font-size: xx-large;
font-style: italic;
font-family:'cormorant';
}
h1{
color: #cd2833;
text-align: center;
font-family: italic;
}
h3{
font-size: xx-large;
text-align: center;
font-family: italic;
color:maroon;
}
p{
font-size: x-large;
text-align: center;
}

</style>
</head>
<body>
<br><br><br><br><br><h3>EVERY APPOINTMENT INCLUDES</h3> <br><br>
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="thumbnail">
<img 
src="https://cdn.shopify.com/s/files/1/0565/8021/0861/files/every-appointment-1.png?v=1640874654" alt="Lights" style="width:40%;height:80%">
<div class="caption">
<p>Dedicated 30 mins <br>with a vet</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="thumbnail">
<img style="float: center"src="https://cdn.shopify.com/s/files/1/0565/8021/0861/files/every-appointment-2.png?v=1640874654" alt="Nature" style="width:30%;height:40%">
<div class="caption">
<p>Instant prescription & pet health report</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="thumbnail">
<img src="https://cdn.shopify.com/s/files/1/0565/8021/0861/files/every-appointment-3.png?v=1640874654" alt="Fjords" style="width:27%;height:40%">
<div class="caption">
<p>Free delivery on medicines purchased</p>
</div>
</div>
</div>
</div>
</div>
<app-packages></app-packages>
</body>
</html>

